body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-wrapper {
    background-color: #00acc1 !important;
    height: 64px;
    line-height: 64px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.title {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin-left: 20px;
}
.sub-title {
    width: 864px;
    margin: 0 auto;
    margin-top:100px;
    margin-bottom:20px;
    font-size: 4.2rem;
    line-height: 110%;
    color:#3482f6;
    font-family: system-ui;
}
.desc {
    
    margin: 0 auto;
    margin-top:100px;
    
    width: 864px;
}
.desc-inner {
    color:#fff;
    width: 400px;
    padding: 30px;
    padding-bottom: 50px;
    background-color: #546e7a !important;
    box-shadow:0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.desc-inner h4 {
    margin-top: -8px;
}
.desc-inner li {
    margin-top:8px;
}
.btn {
    height: 36px;
    width: 110px;
    background-color: rgb(33, 150, 243);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    line-height: 34px;
    float: right;
}
.git {
    float: right;
    margin-right: 14px;
    color: #fff;
    text-decoration: none;
}
.title-logo {
    width: 73px;
    height: 73px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    vertical-align: -5px;
    /* background-image: url(../imgs/sheet_5.png); */
    display: none;
}
.logo {
    width: 73px;
    height: 73px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    vertical-align: -5px;
    background-image: url(../imgs/2FB3B186-4C3D-4c51-B76C-36111C3BF908.png);
}
.power {
    position: absolute;
    bottom: 15px;
    left: 50%;
    font-size: 12px;
    color: #a2a2a2;
}
.power a{
    text-decoration: none;
}
.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -71px;
    top: 0;
    text-align: center;
    line-height: 280px;
    z-index: 999;
    background-color: #dbdbdb5c;
}