.select-area {
    background-color: rgba(14, 101, 235, 0.1);
    opacity: 1;
    user-select: none;
    pointer-events: none;
    box-sizing: border-box;
    will-change: left,top,width,bottom,right,height;
    transform: translateZ(0);
    border: 1px solid rgb(26, 115, 232);
    /* box-shadow: rgb(255 255 255) 0px 0px 0px 0.666667px, rgb(26, 115, 232) 0px 0px 0px 2px; */
    position: absolute;
    /* transition: all 60ms; */
}
.active-cell {
    position: absolute;
    transition: all 70ms;
    will-change: left,top,width,bottom,right,height;
    
    border-width: 2px;
    border-color: #1a73e8;
    
    border-style: solid;
    box-sizing: border-box;
}
.active-cell-corner {
    pointer-events: auto;
    position: absolute;
    cursor: crosshair;
    font-size: 0;
    height: 4px;
    width: 4px;
    right: -4px;
    bottom: -4px;
    border: 1px solid #ffffff;
    background: #4b89ff;
}
.img-icon {
    width: 16px;
    height: 16px;
    background-image: url(./imgs/img-full.svg);
    background-size: cover;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
    pointer-events: all;
}