.tool-bar-wrap {
    height: 40px;
    display: flex;
    background-color: #f8f9fa;
    align-items: center;
}
.btn-wrap {
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.triangle {
    width: 10px;
    height: 10px;
    background-image: url('./imgs/triangle-down.png');
    background-size: cover;
    margin-left: 2px;
    margin-right: 5px;
}
.btn-wrap:hover {
    background-color: #e2e3e4;
}

.acitve-btn-wrap.btn-wrap {
    background-color: #e2e3e4;
}
.merge-cell {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/merge-cells.png');
    background-size: cover;
}
.split-cell {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/split-cells.png');
    background-size: cover;
}

.border {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/border-all.png');
    background-size: cover;
}

.border-item {
    display: flex;
}
.item-icon-all {
    background-image: url('./imgs/border-all.png');
}
.item-icon-none {
    background-image: url('./imgs/border-none.png');
}
.icon-item {
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-right: 4px;
}

.border-item .item-text {
    font-size: 13px;
    margin-top: -1px;
}
:global .border-menu .szh-menu__item {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
:global .border-menu {
    padding:0;
    pointer-events: auto;
}
:global .no .szh-menu__item--hover {
    background-color: #fff;
}

:global .szh-menu {
    min-width: 0px;
}
:global .font-size .szh-menu__item {
    min-width: 30px;
    justify-content: center;
}

.border-style {
    width: 15px;
    height: 15px;
    background-image: url('./imgs/border-style.png');
    background-size: cover;
}
.border-style-item {
    height:11px;
    width:62px;
    border-width:2px;
    border-color: #000;
    border-width: 0;
    transform: translateY(-4px);
}

.border-color {
    width: 15px;
    height: 15px;
    background-image: url('./imgs/border-color.png');
    background-size: cover;
}
.paint-fill {
    width: 17px;
    height: 17px;
    background-image: url('./imgs/paint-fill.png');
    background-size: cover;
}
.text-bold {
    width: 17px;
    height: 17px;
    background-image: url('./imgs/text-fill.png');
    background-size: cover;
}
.text-italic {
    width: 15px;
    height: 15px;
    background-image: url('./imgs/text-italic.png');
    background-size: cover;
}
.text-underline {
    width: 17px;
    height: 17px;
    background-image: url('./imgs/underline.png');
    background-size: cover;
}
.text-color {
    width: 22px;
    height: 22px;
    background-image: url('./imgs/text-color.png');
    background-size: cover;
}
.cell-v-align {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/vertical-align-middl.png');
    background-size: cover;
}
.cell-v-align-top {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/vertical-align-top.png');
    background-size: cover;
}
.cell-v-align-middle {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/vertical-align-middl.png');
    background-size: cover;
}
.cell-v-align-bottom {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/vertical-align-botto.png');
    background-size: cover;
}

.cell-align-left {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/align-left.png');
    background-size: cover;
}
.cell-align-center {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/align-center.png');
    background-size: cover;
}
.cell-align-right {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/align-right.png');
    background-size: cover;
}
.font-family {
    font-size: 14px;
    margin-left: 5px;
}
:global .ReactTooltip  {
    padding: 4px !important;
    font-size: 12px !important;
}

.divider {
    display: inline-block;
    border-right: 1px solid #e0e2e4;
    width: 0;
    vertical-align: middle;
    height: 19px;
    margin: 0px 3px 0;
}
.back-cell {
    width: 17px;
    height: 17px;
    background-image: url('./imgs/back.png');
    background-size: cover;
}
.front-cell {
    width: 17px;
    height: 17px;
    background-image: url('./imgs/front.png');
    background-size: cover;
}
.export-image {
    width: 17px;
    height: 17px;
    background-image: url('./imgs/file-export.png');
    background-size: cover;
}
.insert-img {
    width: 18px;
    height: 18px;
    background-image: url('./imgs/insert-img.png');
    background-size: cover;
}
.item-icon-insert-1 {
    background-image: url('./imgs/computer.png');
}
.item-icon-insert-2 {
    background-image: url('./imgs/cloud-upload.png');
}
.item-icon-insert-3 {
    background-image: url('./imgs/float-image.png');
}
