.edit-textarea {
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 0px 1px;
    margin: 0px;
    box-sizing: border-box;
    border-width: 0px;
    outline: none;
    resize: none;
    overflow: hidden;
    vertical-align: top;
    background: transparent;
    pointer-events: all;
    line-height: 25px;
    text-indent: 1px;
}